.kulim-park-light {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

body {
    background-color: white;
    display:flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    background-image: url("/misc/huh.png");
    background-size: cover;
}
#LeftSection {
    width: 25%;
    height: 100%;
}
#CenterSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#RightSection {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

#ChocolateSelection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#ChocolateTempDisplay {
    font-family: 'Arial', sans-serif; 
}
#EatButton {
    background-color: white;
    position: relative;
    font-family: 'Kulim Park', sans-serif;
    transition-duration: 0.5s;
    width: 100%;
    height: 20%;
    font-size: 8vmin;
    opacity: 25%;
    border: none;
}
#EatButton:hover {
    opacity: 90%;
}
#ChocolateDisplayText {
    font-size: 10vmin;
    font-family: 'Kulim Park', sans-serif;
}
#CHSHeader {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: transparent;
    opacity: 70%;
    
}
#CHSHeader > button {
    width: 25%;
    font-size: 8vmin;
    border: none;
    opacity: 40%;
    transition-duration: 0.5s;
    background-color: white;
}
#CHSHeader > button:hover {
    opacity: 80%;
}
#CHSHeaderText {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    font-family: 'Kulim Park', sans-serif;
    background-color: rgba(255, 255, 255, 0)
}

#CSelOptions {
    background-color: transparent;
    height: 85%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    font-family: 'Kulim Park', sans-serif;
}
#CSelOptions > button {
    width: 100%;
    height: 100%;
    font-size: 7vmin;
    transition-duration: 0.5s;
    font-family: 'Kulim Park', sans-serif;
    opacity: 50%;
    border: none;
}
#CSelOptions > button:hover {
    opacity: 90%;
}

#ChocolateTempDisplay {
    width: 75%;
    height: 30%;
    border: black solid 0.5vmin;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.chocolate {
    width: 100%;
    height: 100%;
    outline: black solid 0.5vmin;
}

#Store {
    font-family: 'Kulim Park', sans-serif;
    font-size: 10vmin;
    text-align: center;
}
#LeftSection {
    background-color: gainsboro;
    opacity:40%;
}
#Chocolate3dRender{
    position: relative;
    bottom: 10%;
}
.green {
    animation: 0.5s linear 0s forwards greenfn;
}
@keyframes greenfn {
    from {

    }
    to {
        background-color: green;
    }
}