.kulim-park-light {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .kulim-park-bold {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body {
    background-color: white;
    display:flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    background-image: url("/misc/huh.png");
    background-size: cover;
}
#LeftSection {
    width: 25%;
    height: 100%;
    z-index: 2;
}
#CenterSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#RightSection {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

#ChocolateSelection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#ChocolateTempDisplay {
    font-family: 'Arial', sans-serif; 
}
#EatButton {
    background-color: white;
    position: relative;
    font-family: 'Kulim Park', sans-serif;
    transition-duration: 0.5s;
    width: 100%;
    height: 20%;
    font-size: 8vmin;
    opacity: 25%;
    border: none;
    border-radius: 0.5rem;
}
#EatButton:hover {
    opacity: 90%;
}
#ChocolateDisplayText {
    font-size: 10vmin;
    font-family: 'Kulim Park', sans-serif;
}
#CHSHeader {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: transparent;
    opacity: 70%;
    
}
#CHSHeader > button {
    width: 25%;
    font-size: 8vmin;
    border: none;
    opacity: 40%;
    transition-duration: 0.5s;
    background-color: white;
    border-radius: 0.5rem;
}
#CHSHeader > button:hover {
    opacity: 80%;
}
#CHSHeaderText {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    font-family: 'Kulim Park', sans-serif;
    background-color: rgba(255, 255, 255, 0);
}
#CHSHeaderText > img {
    width:200%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
}

#CSelOptions {
    background-color: transparent;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5,25%);
    font-family: 'Kulim Park', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
#CSelOptions > button {
    width: 100%;
    height: 100%;
    font-size: 4vmin;
    transition-duration: 0.5s;
    font-family: 'Kulim Park', sans-serif;
    opacity: 50%;
    border: none;
    border-radius: 0.5rem;
}
#CSelOptions > button:hover {
    opacity: 90%;
}

#Store {
    font-family: 'Kulim Park', sans-serif;
    font-size: 10vmin;
    text-align: center;
    height: 65%;
    background-color: gainsboro;
    opacity: 0.75;
}
#Chocolate3dRender{
    position: relative;
    bottom: 10%;
}
.green {
    animation: 0.5s linear 0s forwards greenfn;
}
.hovertext {
    height: 35%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    font-family: 'Kulim Park', sans-serif;
    font-size: 3.5vmin;
    text-align: center;
}
.hovertitle {
    font-size: 5vmin;
}
@keyframes greenfn {
    from {

    }
    to {
        background-color: green;
    }
}

#StoreButtons {
    font-size: 4vmin;
    overflow-y:scroll;
    height: 83%;
}
#StoreButtons > div > button {
    width: 80%;
    height: 10%;
    align-self: center;
    font-size: 4vmin;
    background-color: gainsboro;
    transition-duration: 0.25s;
    border:none;
    border-radius: 0.5rem;
}
#Storebuttons > div > span {
    font-size: 6vmin;
    font-family: 'Kulim Park', sans-serif;
    font-weight: 700;
    background: -webkit-linear-gradient(#FFF3A2, #FF2B40);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px white;
}
#StoreButtons > div > button:hover {
    background-color: white;
}
#StoreButtons > div {
    transition-duration: 0.5s;
    background-color: rgb(200, 200, 200);
}
#StoreButtons > div:hover {
    background-color: rgb(150, 150, 150);
}