@font-face {
    font-family: 'vcr';
    src: url(misc/VCR_OSD_MONO_1.001.ttf);
}

body {
    background-color: rgb(212, 212, 212);
    display:flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}
#LeftSection {
    width: 100%;
    height: 15%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: -10%;
}
#CenterSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}
#RightSection {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    bottom: -10%;
    background-color: gainsboro;
}
#chocolatemenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#EatButton {
    background-color: white;
    position: relative;
    font-family: 'vcr';
    transition-duration: 0.5s;
    width: 12%;
    height: 20%;
    font-size: 8vmin;
    opacity: 75%;
    border: black 0.3vmin solid;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
#EatButton:hover {
    opacity: 100%;
}
#ChocolateDisplayText {
    font-size: 10vmin;
    font-family: 'vcr';
}
#CHSHeader {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: transparent;
    opacity: 70%;
    
}
#CHSHeader > button {
    width: 25%;
    font-size: 8vmin;
    border: none;
    opacity: 40%;
    transition-duration: 0.5s;
    background-color: white;
    border-radius: 0.5rem;
}
#CHSHeader > button:hover {
    opacity: 80%;
}

#CSelOptions {
    background-color: transparent;
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(5,20%);
    font-family: 'vcr';
    overflow-y: scroll;
    overflow-x: hidden;
}
#CSelOptions > button {
    width: 100%;
    height: 100%;
    font-size: 4vmin;
    transition-duration: 0.5s;
    font-family: 'vcr';
    opacity: 50%;
    border: black 0.2vmin solid;
    border-top: none
}
#CSelOptions > button:hover {
    opacity: 90%;
}

#Store {
    font-family: 'vcr';
    font-size: 10vmin;
    text-align: center;
    height: 65%;
    background-color: gainsboro;
    opacity: 0.75;
}

.green {
    animation: 0.5s linear 0s forwards greenfn;
}
.hovertext {
    height: 100%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.75);
    font-family: 'vcr';
    font-size: 3.5vmin;
    text-align: center;
}
.hovertitle {
    font-size: 5vmin;
}
@keyframes greenfn {
    from {

    }
    to {
        background-color: gold;
    }
}

#StoreButtons {
    font-size: 4vmin;
    overflow-x:scroll;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
}
#StoreButtons > div > button {
    width: 80%;
    height: 20%;
    align-self: center;
    font-size: 4vmin;
    background-color: gainsboro;
    transition-duration: 0.25s;
    font-family: 'vcr';
}
#Storebuttons > div > span {
    font-size: 6vmin;
    font-family: 'vcr';
    font-weight: 700;
}
#StoreButtons > div > button:hover {
    background-color: white;
}
#StoreButtons > div {
    height: 100%;
    width: 200%;
    transition-duration: 0.5s;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    font-family: 'vcr';
    font-weight: 700;
    font-size: 3vmin;
}
#StoreButtons > div:first-child {
    margin-left: auto;
}

#StoreButtons > div:last-child {
    margin-right: auto;
}
#StoreButtons > div:hover {
    background-color: rgb(150, 150, 150);
}

#Resets {
    width: 25%;
    opacity: 50%;
}

#ResetHead {
    font-size: 6vmin;
    font-family: 'vcr';
    font-weight: 700;
}
#leftbuttons {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.leftbutton {
    display: flex;
    font-size: 6vmin;
    font-family: 'vcr';
    font-weight: 700;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 90%;
    transition-duration: 500ms;
}
.leftbutton:hover {
    opacity: 75%;
}
#rightbuttons {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    flex-grow: 1;
}
.rightbutton {
    display: flex;
    font-size: 6vmin;
    font-family: 'vcr';
    font-weight: 700;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 50%;
    transition-duration: 500ms;
}
.rightbutton:hover {
    opacity: 90%;
}
#resetmenu {
    font-size: 3vmin;
    font-family: 'vcr';
    font-weight: 600;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
}
.reset {
    height: 100%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.resettext {
    font-size: 5vmin;
    margin-bottom: 2.5%;
}
.resetinfo {
    margin-bottom: 2.5%;
    font-size: 2vmin;
}
.resetbutton {
    width: 60%;
    height: 40%;
    font-size: 2vmin;
    font-family: 'vcr';
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
    transition-duration: 250ms;
}
.resetbutton:hover {
    background-color: white;
}
.menu {
    width: 100%;
    height: 98%;
}
button {
    border-color: buttonborder;
}